.modal {
    position: fixed;
    background-color: white;
    padding: 5em;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    box-shadow: #00000057 5px 5px;
    text-align: center;
    z-index:2;
}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
}
.hide{
    display: none;
}
div{
    transition: all 0.5s ease;
}