.controlsWrapper {
    background-color: #008838;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #cccccc;
    margin: auto;
    padding: 10px 0;
}

.price {
    text-transform: capitalize;
    font-size: 2.4em;
    color: #ffffff;
}

.currency {
    margin: 0 1em;
    color: #f1b700;
}

.orderNow {
    width: 120px;
    background-color: #f1b700;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0px white solid;
}

.orderNow:disabled {
    background-color: #1918174d;
    color: #81818680;
}

.orderWrapper {
    margin: 20px 0
}